body {
  background-color: #30352F;
}
header {
  text-align: center;
  background-color: #2F2F2F;
  padding: 10px;
}
.thread-add {
  display: inline-block;
}
foorer {
  clear: both;
}
.wrapper {
  margin: 0 auto;
}
.thread {
  float: left;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  margin-left: 5px;
  width: 400px;
  background-color: #292929;
  padding: 15px;
}
main .thread:first-child {
  margin-left: 0;
}
.posts-list {
  color: #ADAFAE;
  list-style: none;
  padding: 0;
}
.posts-list .post {
  box-sizing: border-box;
  position: relative;
  border-top: 3px solid #2E2E2E;
  padding: 10px 40px 10px 0px;
  width: 100%;
}
.post-title {
  text-decoration: none;
  color: inherit;
}
.post-author-container {
  margin: 5px 0 0 0;
}
.post-author {
  color: #6D6F6E;
  font-weight: bold;
}
.thread-title {
  color: #FFF;
  text-align: center;
}
.new-post-label {
  position: absolute;
  top: 5px;
  right: -10px;
  background-color: black;
  padding: 5px;
  border-radius: 5px;
  font-size: smaller;
  cursor: pointer;
}
.post-timeago {
  color: #5D5F5E;
  position: absolute;
  right: 0;
  bottom: 0px;
}
.thread-error {
  color: #AB1B1B;
  text-align: center;
}
.close-thread {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  color: #525252;
  font-size:x-large;
  border: none;
}
.close-thread:hover {
  background-color: #525252;
  color: #000;
}
.thread-menu {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 10px;
}
.thread-menu .arrow {
  position: absolute;
  color: #525252;
  font-size:x-large;
  cursor: pointer;
}
.thread-menu-list {
  color: #FFF;
  background-color: #525252;
  list-style: none;
  margin: 0 0 0 15px;
  padding: 0;
}
.thread-menu-item {
  padding: 10px 20px;
  cursor: pointer;
}
.thread-menu-item:hover {
  background-color: #959595;
}
